@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  box-shadow: 10px 10px 56px -11px rgba(0, 0, 0, 0.4);
  max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin-inline: auto;
	background-color: #fcf6fc;
	font-family: "Maven Pro", sans-serif;
	font-style: normal;
	a {
		text-decoration: none;
		a:hover {
			cursor: pointer;
		}
	}
}

header {
  grid-column: 1 / 7;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.nav_container {
  grid-template-columns: 1 / 7;
}

nav {
  background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 10vh;
	padding-inline: 7rem;
	font-size: large;
	font-weight: 600;
	a {
		color: #0a846e;
	}
	a:visited {
		color: #0a846e;
	}
}

.mina_sidor {
  padding-top: 4rem;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('assets/växter.jpg');
  background-position: center;
  background-size: cover;
  color: white;
    figure {
    img {
    min-width: 13rem;
    }
    p {
      font-size: 3rem;
      font-weight: 500;
      margin-top: 1rem;
    }
  }
}

.form_section {
  grid-column: 1 / 7;
  margin-inline: 1rem;
  background-color: white;
}

.form_section_i:first-child {
  font-size: 2.5rem;
}

.form_section_i:nth-child(2) {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
}

#planta, #datum {
  margin-top: 1rem;
  padding: 0.5rem;
  min-width: 90%;
  min-height: 1rem;
  border: none;
  border-bottom: solid 5px rgba(3, 3, 3, 0.062);
  border-left: solid 4px rgba(3, 3, 3, 0.062);;
}

#planta:focus, #datum:focus {
  border: none;
  background-color: #0a846e6a;
}

.button_container {
  display: flex;
  justify-content: center;
}

.button {
	background-color: #0a8463;
	border-style: none;
	color: white;
	padding-block: 1rem;
	min-width: 9rem;
	border-radius: 10px;
  font-weight: bold;
	font-size: large;
  margin-block: 2rem;
	box-shadow: 0 1px 2px 3px rgba(128, 128, 128, 0.249);
}

.button:hover {
  cursor: pointer;
}

.planerade, .planterade {
  padding-top: 2rem;
	grid-column: 1 / 7;
	display: flex;
  flex-direction: column;
	justify-content: center;
	background-color: white;
  min-width: 100%;
}

.planerade_i, .planterade_i {
  padding-block: 2rem;
  min-width: 100%;
  max-height: 10vh;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.plant {
  margin-inline: 1rem;
	box-shadow: 3px 4px 9px 1px rgba(104, 104, 104, 0.589);
  min-width: 22vw;
  max-width: 22vw;
  	figure {
    background-image: url('assets/gurka.jpg');
		background-size: cover;
		background-position: center;
		margin: 0;
		display: flex;
		justify-content: center;
		min-height: 20rem;
		align-items: center;
		min-width: 100%;
		img {
			height: 10rem;
		}
	}
}

.plants_a {
	display: grid;
	max-width: 100%;
	grid-template-columns: 1fr 1fr;
	p {
		margin: 0.5rem;
		align-self: center;
	}
}

.vegetable {
	font-size: 1.5rem;
	font-weight: bold;
}

.date, .trashcan {
	font-weight: bold;
	justify-self: end;
}

.trashcan {
	background-color: rgb(185, 56, 87);
	color: white;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 10px;
	margin-left: 0;
}

.trashcan:hover {
  cursor: pointer;
}

.planted_container {
  display: flex;
  min-width: 100%;
  margin-bottom: 10rem;
}

footer {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 30vh;
}

.footer_i {
  padding-inline: 2rem;
  background-color: #9E6D52;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  }
  
.footer_a {
  height: 40vh;
  width: 20vw;
  background-size: cover;
  background-position: center;
}

.footer_a:first-child {
  background-image: url('assets/man.jpg');
}
.footer_a:nth-child(2) {
  background-image: url('assets/vatten.jpg');
}

.footer_a:nth-child(3) {
  background-image: url('assets/grönsaker.jpg');
}

.footer_a:nth-child(4) {
  background-image: url('assets/flicka.jpg');
}

.footer_till_top {
	background-color: white;
	grid-column: 1 / 7;
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		color: black;
		a:visited {
			color: black;
		}
	}
}
  
.trashcan_logo {
		display: none;
  }



@media screen and (min-width: 1px) and (max-width:600px) { 
    
  body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: grid;
    gap: unset;
  }

  header {
    grid-template-rows: none;
  }
  nav {
  display: none;
  }

  .form_section_i:first-child {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  .form_section_i:nth-child(2) {
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr;
  font-size: 1rem;
}

.plant {
    min-width: 45vw;
    figure {
      min-height: 15rem;
    img {
      max-height: 8rem;
    }
  }
}


.trashcan {
		display: none;
	}

.trashcan_logo {
	display: flex;
	max-height: 1.5rem;
	margin-left: 0;
  justify-self: end;
  margin-right: 1rem;
}


.planted_container > .plant:nth-child(2) {
    margin-left: -0.3rem;
  }

.vegetable {
	font-size: 1.2rem;
	font-weight: bold;
}

.date {
	font-weight: bold;
  font-size: small;
}
  
.planterade_i, .planerade_i {
  font-size: 1.2rem;
}

.planted_container {
  margin-bottom: 5rem;
}

footer {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 30vh;
}

.footer_i {
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: #9E6D52;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  }
  
.footer_a {
  height: 15vh;
  width: 45vw;
}